*, html, body{
  cursor: url(./photos/cursor.png),  auto;
} 

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #000;
}

html {
  scroll-behavior: smooth;
}

body {
  /* To hide the scrollbar */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

.parallax::-webkit-scrollbar {
  display: none;
}

@keyframes xAxis {
  50% {
    animation-timing-function: ease-in-out;
    transform: translateY(2em);
  }
}

@keyframes yAxis {
  50% {
    animation-timing-function: ease-in-out;
    transform: translateY(20em);
  }
}

#shadow {
  position: relative;
  margin-top: 50em;
  padding-top: 2em;
  width: 300px;
  height: 100px;
  left: -60px;
  margin-left: 250px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.233);
  filter: blur(3rem);
  animation: xAxis 4s infinite ease-in-out;
}

#shadow::after {
  animation: yAxis 4s infinite ease-in-out;
}


#castle {
  cursor: move;
  display: block;
  width: 23em;
  margin-left: 12em;
  animation: xAxis 4s infinite ease-in-out;
}

#castle::after {
  animation: yAxis 4s infinite ease-in-out;
}

h1 {
  color: #fff;
  text-transform: lowercase;
  font: normal normal normal 50px/1px Ghibli;
}

h2,
h3,
h4 {
  color: #fff;
  text-transform: lowercase;
  font: normal normal normal 20px/10px Ghibli;
}


@keyframes move-twinkle-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -0000px 5000px;
  }
}

.stars,
.twinkling,
.clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000 url(photos/stars.png) repeat top center;
  z-index: -2;
}

.twinkling {
  background: transparent url(photos/twinkling.png) repeat top center;
  z-index: -1;
  animation: move-twinkle-back 200s linear infinite;
}

.top-banner {
  top: 0;
  position: fixed;
  transition: all 1s;
  background-color: transparent;
  display: flex;
  align-items: start;
  text-align: start;
  padding: 50px;
  color: #fff;
  z-index: 10000;
}

.title {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #fff;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.reveal,
.reveal.active {
  transition: all 1s ease;
}

.reveal {
  transform: translateY(100px);
  opacity: 0;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.copyright-box {
  background: #000;
  width: 100%;
  padding: 8px;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  text-align: center;
  color: #fff;
}